<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.dao.BookMapper">
    <insert id="addBook" parameterType="Books">
        INSERT INTO books(bookName, bookCounts, detail) VALUES (#{bookName},#{bookCounts},#{detail})
    </insert>

    <delete id="deleteBook" parameterType="int">
        DELETE FROM books where bookID=#{bookId}
    </delete>

    <update id="updateBook" parameterType="Books">
        UPDATE books set bookName = #{bookName},bookCounts = #{bookCounts},detail = #{detail} where bookID=#{bookID}
    </update>

    <select id="queryBookById" resultType="Books">
        SELECT * from books where bookID =#{bookID}
    </select>

    <select id="queryAllBook" resultType="Books">
        SELECT  * FROM books
    </select>
</mapper>